{% for link in page.links %}
  <li>
    {% assign href = link.url %}
    {% if link.url contains '://' %}
      <a href="{{ href }}" target="_blank" rel="noopener noreferrer" role="button" title="{{ link.description }}">
    {% else %}
      <a href="{{ href | relative_url }}" role="button" title="{{ link.description }}">
    {% endif %}
      {% if link.icon %}
        <i class="{{ link.icon }}"></i>{{ link.description }}
      {% else %}
        <i class="fas fa-link"></i>{{ link.description }}
      {% endif %}
      </a>
  </li>
{% endfor %}
