<header class="site-header" role="banner">
  {% assign current_path = page.url | replace: '.html', '' | replace: '/index', '' %}

  <nav class="navbar navbar-expand-sm navbar-light px-0">

    <!-- Navbar brand -->
    <a class="navbar-brand{% if current_path == '/' %} navbar-brand-active{% endif %}" href="{{ '/' | relative_url }}"{% if current_path == '/' %} aria-current="page"{% endif %}>{{ site.title }}</a>

    <!-- Navbar toggler button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        {% if site.people %}
        <li>
          <a class="nav-link{% if current_path == '/people' %} nav-link-active{% endif %}" href="{{ '/people' | relative_url }}"{% if current_path == '/people' %} aria-current="page"{% endif %}>People</a>
        </li>
        {% endif %}

        {% if site.publications %}
        <li>
          <a class="nav-link{% if current_path == '/publications' %} nav-link-active{% endif %}" href="{{ '/publications' | relative_url }}"{% if current_path == '/publications' %} aria-current="page"{% endif %}>Publications</a>
        </li>
        {% endif %}

        {% if site.projects %}
        <li>
          <a class="nav-link{% if current_path == '/projects' %} nav-link-active{% endif %}" href="{{ '/projects' | relative_url }}"{% if current_path == '/projects' %} aria-current="page"{% endif %}>Projects</a>
        </li>
        {% endif %}
      </ul>
    </div>

  </nav>

</header>
