{%- assign entry = include.entry -%}
{%- capture authors -%}
  {%- for author in entry.author_array -%}
    {{ author.first }} {{ author.last }}{% unless forloop.last %}, {% endunless %}
  {%- endfor -%}
{%- endcapture -%}

{%- assign venue = "" -%}
{%- if entry.type == "article" -%}
  {%- capture venue -%}{{ entry.journal }}{%- endcapture -%}
{%- elsif entry.type == "inproceedings" -%}
  {%- capture venue -%}{{ entry.booktitle }}{%- endcapture -%}
{%- elsif entry.type == "phdthesis" -%}
  {%- capture venue -%}PhD thesis, {{ entry.school }}{%- endcapture -%}
{%- elsif entry.type == "mastersthesis" -%}
  {%- capture venue -%}Master's thesis, {{ entry.school }}{%- endcapture -%}
{%- elsif entry.eprint -%}
  {%- capture venue -%}arXiv preprint{%- endcapture -%}
{%- endif -%}

<div class="publication-title">{{ entry.title }}</div>
<div class="publication-authors">{{ authors | strip }}</div>
{% if entry.volume or entry.pages -%}
  <div class="publication-details">
    {% if entry.volume %}Vol. {{ entry.volume }}{% endif %}{% if entry.volume and entry.pages %}, {% endif %}{% if entry.pages %}pp. {{ entry.pages }}{% endif %}
  </div>
{%- endif %}
<div class="publication-venue">
  {{ venue | strip | default: "Publication" }}{% if entry.year %} <span>{{ entry.year }}</span>{% endif %}
</div>
