---
layout: page
---
<div id="hub">
  {% include page-hero.html title=page.title description=page.description compact=true %}
  <div class="layout-split">
    <aside id="aside">
      {% include hubaside.html %}
    </aside>

    <section id="content">
      <section class="links">
        {% include section-header.html title="Links" %}
        {% if page.citekey %}
          {% nocite page.citekey %}
          {% bibliography --cited --template pubhublinkstemplate %}
        {% else %}
          <ol class="link-list">
            {% include hubadditionallinks.html %}
          </ol>
        {% endif %}
      </section>
      {{ content }}
      <section class="abs-bibtex">
        {% if page.citekey %}
          {% bibliography --cited --template pubhubabsbibtex %}
        {% endif %}
      </section>
    </section>
  </div>
</div>
