---
layout: page
---

{% assign categories = "Faculty|Senior|Student|Alumni" | split: "|" %}
{% for category in categories %}
  {% assign people_in_category = site.data.people | where: "category", category %}
  {% if people_in_category.size > 0 %}
    {% assign heading = category %}
    {% if category == "Senior" %}
      {% assign heading = "Senior Collaborators" %}
    {% endif %}
    {% if category == "Student" %}
      {% assign heading = "Students" %}
    {% endif %}

    <h2 class="mb-3{% unless forloop.first %} mt-4{% endunless %}"><a id="{{ heading | slugify }}"></a>{{ heading }}</h2>
    <ul class="list-unstyled">
      <div class="row">
      {% for person in people_in_category %}
        {% assign ncols = 2 %}
        {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
          {% include person-card.html person=person %}
        </div>
        {% if i == 1 %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
      </div>
    </ul>
  {% endif %}
{% endfor %}
