---
layout: page
---
{% assign profile = site.data.profile %}
{% assign home_logo = '/assets/img/logo_white.png' | relative_url %}

<div id="portfolio">
  {% include presence-map.html %}

  <section id="about-me" style="--about-watermark: url('{{ home_logo }}');">
    <div class="row">
      <div class="text-wrap col-12">
        <h2 class="username">{{ profile.username }}</h2>
        <div class="description">{{ profile.description | markdownify }}</div>
        <div class="description">{{ profile.description2 | markdownify }}</div>

        <ul class="social-links" aria-label="Profile links">
          {% include social.html %}
        </ul>
      </div>
    </div>
  </section>

  {% include presentation.html %}
  {% include two-column-section.html %}
</div>
