---
layout: page
---
<div id="presentations">
  {% include page-hero.html title=page.title description=page.description compact=true %}
  <ol class="presentations-list">
    {% for _ in site.data.presentations %}
      {% assign presentation = _.presentation %}
      <li>
        <h2 class="title">{{ presentation.title }}</h2>
        <p class="event">{{ presentation.event }} <span class="date">({{ presentation.date }})</span></p>
        <div class="comment">{{ presentation.comment | markdownify }}</div>
        <div class="action-links">
          {%- if presentation.slides %}
            {% if presentation.slides contains '://' -%}
              <a href="{{ presentation.slides }}" class="btn" role="button" title="Slides" target="_blank" rel="noopener noreferrer">Slides</a>
            {%- else -%}
              <a href="{{ presentation.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn" role="button" title="Slides">Slides</a>
            {%- endif %}
          {%- endif %}
          {%- if presentation.recording %}
            <a href="{{ presentation.recording }}" class="btn" role="button" target="_blank" rel="noopener noreferrer">Recording</a>
          {%- endif %}
          {%- if presentation.hub %}
            <a href="{{ presentation.hub | relative_url }}" class="btn" role="button">All Information</a>
          {%- endif %}
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
