---
layout: page
---

<div id="projects">
  {% include page-hero.html title=page.title description=page.description compact=true %}
  <ol class="project-list">
    {% for _ in site.data.projects %}
      {% assign project = _.project %}
      <li>
        <h2 class="title"><a href="{{ project.webpage | relative_url }}">{{ project.title }}</a></h2>
        <div class="authors">{{ project.authors | markdownify }}</div>
        {% if project.event %}<div class="event">{{ project.event }}</div>{% endif %}
        <p class="date">{{ project.date }}</p>
        {% if project.image %}
        <div class="img-wrap">
          <img src="{{ project.image.path | prepend: '/assets/img/projects/' | relative_url }}" alt="{{ project.image.alt | default: project.title }}" width="500" height="320" loading="lazy" decoding="async">
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
