---
layout: page
---
<div id="tags">
  {% include page-hero.html title=page.title description=page.descriptions compact=true %}

  <ul class="tag-cloud">
    {% for tag in site.tags %}
    <li>
      <a href="#{{ tag | first | slugize }}" class="tag">
        {{ tag | first }} <span class="meta">{{ tag | last | size }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tag-groups">
    {% for tag in site.tags %}
    <section class="tag-group">
      {% capture group %}{{ tag | first }}{% endcapture %}
      <h2 id="{{ group | slugize }}" class="title">{{ group }}</h2>
      <div class="items">
        {% for post in site.tags[group] %}
        <a href="{{ post.url | relative_url }}" class="post-link">
          <div class="item">
            <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
            <p class="title">{{ post.title }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </div>
</div>
